# for use with direnv (https://direnv.net/)

function pathmunge() {
  if ! echo $PATH | egrep "(^|:)$1($|:)" 2>&1 > /dev/null ; then
    if [ "$2" = "after" ] ; then
      PATH=$PATH:$1
    else
      PATH=$1:$PATH
    fi
  fi
}

pathmunge "${PWD}/build"

export container_repo="${AWS_ACCOUNT}.dkr.ecr.${AWS_REGION}.amazonaws.com"

if [[ "${ARCADIUM_USER_NAME}" != "" ]]; then
  git config --local user.name "${ARCADIUM_USER_NAME}"
fi
if [[ "${ARCADIUM_EMAIL}" != "" ]]; then
  git config --local user.email "${ARCADIUM_EMAIL}"
fi
